---
title: Welcome to Middleman
---
<div>
  <ul>
    <% data.technologies.technologies.each do |f| %>
      <li><%= f %></li>
    <% end %>
  </ul>
</div>

<section class="article">
  <h3><%= data.article.article.title %></h3>
  <%= data.article.article.content %>
  <%= image_tag data.article.article.image %>
</section>
