main template

<section class="article">
  <h3><%= data.send("article_#{locale}").main.title %></h3>
  <%= data.send("article_#{locale}").main.content %>
  <%= image_tag data.send("article_#{locale}").main.image %>
</section>
