main template

<section class="article">
  <h3><%= data.send("article_#{locale}").article.title %></h3>
  <%= data.send("article_#{locale}").article.content %>
  <%= image_tag data.send("article_#{locale}").article.image %>
</section>
